################
# Local params
#
glideinWMSDir=/home/sfiligoi/glideinWMS
configDir=/home/sfiligoi/web_work_dir
#proxyFile=pathtomyproxy

################
# gfactory attrs
#
gfactoryNode=glidein-1.t2.ucsd.edu
gfactoryConstraint=(FactoryType=?="sleeper")
gfactoryClassadID=gfactory@glidein-1.t2.ucsd.edu
myClassadID=frontend@glidein-1.t2.ucsd.edu

